vendor
node_modules
.sass-cache

web/core

web/uploads

web/apps/languages/*

web/apps/themes/*
!web/apps/themes/themename

web/apps/plugins/*

web/apps/mu-plugins/*
!web/apps/mu-plugins/register-theme-directory.php
!web/apps/mu-plugins/site-custom-functions.php

medias

config/*
!config/sample-config.php

.htaccess